<div>
    <h2 id="page-heading">
        <span jhiTranslate="projecunitmangmentApp.file.home.title">Files</span>


    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="files?.length === 0">
        <span jhiTranslate="projecunitmangmentApp.file.home.notFound">No files found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="files && files.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="name"><span jhiTranslate="projecunitmangmentApp.file.name">Name</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="file"><span jhiTranslate="projecunitmangmentApp.file.file">File</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="uploadDate"><span
                            jhiTranslate="projecunitmangmentApp.file.uploadDate">Upload Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="type"><span jhiTranslate="projecunitmangmentApp.file.type">Type</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="project.name"><span
                            jhiTranslate="projecunitmangmentApp.file.project">Project</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files ;trackBy: trackId">
                    <td><a [routerLink]="['/file', file.id, 'view']">{{ file.id }}</a></td>
                    <td>{{ file.name }}</td>
                    <td>
                        <a *ngIf="file.file" (click)="openFile(file.fileContentType, file.file)"
                            jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="file.file">{{ file.fileContentType }}, {{ byteSize(file.file) }}</span>
                    </td>
                    <td>{{ file.uploadDate | date:'medium' }}</td>
                    <td>{{ file.type }}</td>
                    <td>
                        <div *ngIf="file.project">
                            <a [routerLink]="['/project', file.project?.id, 'view']">{{ file.project?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/file', file.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/file', file.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(file)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>

                            <button type="submit" (click)="download(file)" class="btn btn-success">
                                DownLoad
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="files && files.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>