<div>
    <h2 id="page-heading">
        <span jhiTranslate="projecunitmangmentApp.observation.home.title">Observations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-observation" [routerLink]="['/observation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projecunitmangmentApp.observation.home.createLabel">
            Create a new Observation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="observations?.length === 0">
        <span jhiTranslate="projecunitmangmentApp.observation.home.notFound">No observations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="observations && observations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="projecunitmangmentApp.observation.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detail"><span jhiTranslate="projecunitmangmentApp.observation.detail">Detail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="projecunitmangmentApp.observation.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="file.name"><span jhiTranslate="projecunitmangmentApp.observation.file">File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="project.name"><span jhiTranslate="projecunitmangmentApp.observation.project">Project</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let observation of observations ;trackBy: trackId">
                    <td><a [routerLink]="['/observation', observation.id, 'view']">{{ observation.id }}</a></td>
                    <td>{{ observation.title }}</td>
                    <td>{{ observation.detail }}</td>
                    <td>{{ observation.creationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="observation.file">
                            <a [routerLink]="['/file', observation.file?.id, 'view']" >{{ observation.file?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="observation.project">
                            <a [routerLink]="['/project', observation.project?.id, 'view']" >{{ observation.project?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/observation', observation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/observation', observation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(observation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="observations && observations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
