<div>
    <h2 id="page-heading">
        <span jhiTranslate="projecunitmangmentApp.announcement.home.title">Announcements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-announcement" [routerLink]="['/announcement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projecunitmangmentApp.announcement.home.createLabel">
            Create a new Announcement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="announcements?.length === 0">
        <span jhiTranslate="projecunitmangmentApp.announcement.home.notFound">No announcements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="announcements && announcements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="projecunitmangmentApp.announcement.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="projecunitmangmentApp.announcement.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="announcementType"><span jhiTranslate="projecunitmangmentApp.announcement.announcementType">Announcement Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="projecunitmangmentApp.announcement.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="projecunitmangmentApp.announcement.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="open"><span jhiTranslate="projecunitmangmentApp.announcement.open">Open</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="faculty.name"><span jhiTranslate="projecunitmangmentApp.announcement.faculty">Faculty</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let announcement of announcements ;trackBy: trackId">
                    <td><a [routerLink]="['/announcement', announcement.id, 'view']">{{ announcement.id }}</a></td>
                    <td>{{ announcement.title }}</td>
                    <td>{{ announcement.content }}</td>
                    <td jhiTranslate="{{ 'projecunitmangmentApp.AnnouncementType.' + announcement.announcementType }}">{{ announcement.announcementType }}</td>
                    <td>{{ announcement.startDate | date:'mediumDate' }}</td>
                    <td>{{ announcement.endDate | date:'mediumDate' }}</td>
                    <td>{{ announcement.open }}</td>
                    <td>
                        <div *ngIf="announcement.faculty">
                            <a [routerLink]="['/faculty', announcement.faculty?.id, 'view']" >{{ announcement.faculty?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/announcement', announcement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/announcement', announcement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(announcement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="announcements && announcements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
