<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="announcement">
            <h2><span jhiTranslate="projecunitmangmentApp.announcement.detail.title">Announcement</span> {{ announcement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.title">Title</span></dt>
                <dd>
                    <span>{{ announcement.title }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.content">Content</span></dt>
                <dd>
                    <span>{{ announcement.content }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.announcmentType">Announcment Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projecunitmangmentApp.AnnouncementType.' + announcement.announcmentType }}">{{ announcement.announcmentType }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ announcement.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.endDate">End Date</span></dt>
                <dd>
                    <span>{{ announcement.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.announcement.faculty">Faculty</span></dt>
                <dd>
                    <div *ngIf="announcement.faculty">
                        <a [routerLink]="['/faculty', announcement.faculty?.id, 'view']">{{ announcement.faculty?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/announcement', announcement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
