<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phase">
            <h2><span jhiTranslate="pumsApp.phase.detail.title">Phase</span> {{ phase.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pumsApp.phase.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ phase.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phase.endDate">End Date</span></dt>
                <dd>
                    <span>{{ phase.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phase.discutionTime">Discution Time</span></dt>
                <dd>
                    <span>{{ phase.discutionTime }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phase.resultData">Result Data</span></dt>
                <dd>
                    <div *ngIf="phase.resultData">
                        <a [routerLink]="['/result-data', phase.resultData?.id, 'view']">{{ phase.resultData?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pumsApp.phase.project">Project</span></dt>
                <dd>
                    <div *ngIf="phase.project">
                        <a [routerLink]="['/project', phase.project?.id, 'view']">{{ phase.project?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phase', phase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
