<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span jhiTranslate="projecunitmangmentApp.project.detail.title">Project</span> {{ project.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projecunitmangmentApp.project.name">Name</span></dt>
                <dd>
                    <span>{{ project.name }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.project.details">Details</span></dt>
                <dd>
                    <span>{{ project.details }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.project.objectives">Objectives</span></dt>
                <dd>
                    <span>{{ project.objectives }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.project.problems">Problems</span></dt>
                <dd>
                    <span>{{ project.problems }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.project.faculty">Faculty</span></dt>
                <dd>
                    <div *ngIf="project.faculty">
                        <a [routerLink]="['/faculty', project.faculty?.id, 'view']">{{ project.faculty?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.project.supervisor">Supervisor</span></dt>
                <dd>
                    <div *ngIf="project.supervisor">
                        <a [routerLink]="['/supervisor', project.supervisor?.id, 'view']">{{ project.supervisor?.fullName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
