<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-project-heading" jhiTranslate="pumsApp.project.home.createOrEditLabel">Create or edit a Project</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pumsApp.project.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pumsApp.project.detials" for="field_detials">Detials</label>
                    <textarea class="form-control" name="detials" id="field_detials"
                              formControlName="detials"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pumsApp.project.objective" for="field_objective">Objective</label>
                    <textarea class="form-control" name="objective" id="field_objective"
                              formControlName="objective"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pumsApp.project.problem" for="field_problem">Problem</label>
                    <textarea class="form-control" name="problem" id="field_problem"
                              formControlName="problem"></textarea>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
