<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phaseType">
            <h2><span jhiTranslate="pumsApp.phaseType.detail.title">Phase Type</span> {{ phaseType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pumsApp.phaseType.title">Title</span></dt>
                <dd>
                    <span>{{ phaseType.title }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phaseType.description">Description</span></dt>
                <dd>
                    <span>{{ phaseType.description }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phaseType.phaseType">Phase Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pumsApp.AnnouncementType.' + phaseType.phaseType }}">{{ phaseType.phaseType }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.phaseType.phase">Phase</span></dt>
                <dd>
                    <div *ngIf="phaseType.phase">
                        <a [routerLink]="['/phase', phaseType.phase?.id, 'view']">{{ phaseType.phase?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phase-type', phaseType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
