<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to Future Project Management System!</h1>


        <div [ngSwitch]="isAuthenticated()" class="container">
            <div *ngSwitchCase="true">
                <a class="dropdown-item" routerLink="student" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.student">Student</span>
                </a>

                <a class="dropdown-item" routerLink="project" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.project">Project</span>
                </a>
                <a class="dropdown-item" routerLink="supervisor" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.supervisor">Supervisor</span>
                </a>

                <a class="dropdown-item" routerLink="faculty" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.faculty">Faculty</span>
                </a>

                <a class="dropdown-item" routerLink="announcement" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.announcement">Announcement</span>
                </a>
                <a class="dropdown-item" routerLink="observation" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.observation">Observation</span>
                </a>

                <a class="dropdown-item" routerLink="file" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.file">File</span>
                </a>

                <a class="dropdown-item" routerLink="batch" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.batch">Batch</span>
                </a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>
            </div>

        </div>
    </div>
</div>