<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supervisor">
            <h2><span jhiTranslate="projecunitmangmentApp.supervisor.detail.title">Supervisor</span> {{ supervisor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projecunitmangmentApp.supervisor.fullName">Full Name</span></dt>
                <dd>
                    <span>{{ supervisor.fullName }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.supervisor.role">Role</span></dt>
                <dd>
                    <span>{{ supervisor.role }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.supervisor.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projecunitmangmentApp.Gender.' + supervisor.gender }}">{{ supervisor.gender }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.supervisor.email">Email</span></dt>
                <dd>
                    <span>{{ supervisor.email }}</span>
                </dd>
                <dt><span jhiTranslate="projecunitmangmentApp.supervisor.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ supervisor.phoneNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supervisor', supervisor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
