<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supervisor">
            <h2><span jhiTranslate="pumsApp.supervisor.detail.title">Supervisor</span> {{ supervisor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pumsApp.supervisor.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ supervisor.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="pumsApp.supervisor.faculties">Faculties</span></dt>
                <dd>
                    <span *ngFor="let faculties of supervisor.faculties; let last = last">
                        <a [routerLink]="['/faculty', faculties?.id, 'view']">{{ faculties.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supervisor', supervisor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
